* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conatiner {
  padding: 10px 10px;
}
.mainText-wrapper {
  text-align: center;
}
.cart-wrapper {
  height: 150px;
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 100px;
}
.card-flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.img-wrapper img {
  height: 100px;
  margin: 0 auto;
}
.btn-wrapper button {
  background-color: #5757f5;
  color: #fff;
  width: 100px;
  height: 40px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
}
